h2{
   color: #c5e;
   background-color: beige;
}
button{
    color: black;
    background-color: aliceblue;
}

p {
    color: olive;
    background: rgb(228, 161, 37);
}

body {
    background-color: #c5e;
}

