body{
    margin: 0;
}
div{
    width: 200px;
    height: 200px;
}
span{
    margin-left: 30px;
    margin-top: 30px;
}
h1{
    background-color: beige;
    width:200px ;
    padding-left: 50px;
    padding-top: 100px;
    margin: 0px;
}
#one{
    background-color: blue;
    border-width: 5px;
    border-color: black;
    border-style: double;
    margin-left: 50px;
    margin-top: 50px;
}
#two{
    background-color: blueviolet;
    border-width: 10px;
    border-color: black;
    border-style:inset;
    margin-left: 70px;
    margin-top: 100px;
}
#three{
    background-color: aquamarine;
    border-width: 10px;
    border-color: black;
    border-style: dotted;
    margin-left: 90px;
    margin-top: 100px;
} 

button{
    background-color: black;
    color: aliceblue;
    align-items: center;
    text-align: center;
    margin-left: 100px;
    
}











